

<div class="reactable_comment">
    <div class="reactable_comment_info {% if comment.is_deleted %}reactables_comment_deleted" title="posted {{ comment.posted }}, deleted {{ comment.deleted }}">deleted comment{% else %}">{% endif %}
        {% if comment.user.get_absolute_url %} 
            by <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a> 
        {% else %}
            by {{ comment.user }} 
        {% endif %}
        {% if not comment.is_deleted %}
            ,
            <span title="posted {{ comment.posted }}">{{ comment.posted|timesince }} ago</span>
            {% if delete_button and request.user.is_authenticated %}
                {% if request.user.pk == reactable.user.pk or request.user.is_staff %}
                    <form action="{% url 'delete_comment_confirm' %}" method="POST" class="reactable_comment_delete_form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        <input type="hidden" name="comment_pk" value="{{ comment.pk }}" />
                        <input type="submit" class="btn btn-default btn-xs" value="delete" title="delete your own comment; this can not be undone" />
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {% if not comment.is_deleted %}
        <div class="reactable_comment_message well well-sm">
            {{ comment.message }}
        </div>
    {% endif %}
</div>


