
{% extends BASE_TEMPLATE %}

{% load display %}
{% load crispy_forms_tags %}

		
{% block content %}
	<h1>Please fix your comment</h1>
    {% if url %}
        <p>There was a problem with your comment while leaving a reaction on <a href="{{ url }}">this page</a>.</p>
    {% endif %}
    {% if target %}
	    <p>You were reacting to</p>
	    {% display target %}
    {% endif %}
	<p>Please fix this problem and submit your comment again.</p>    
	{% crispy form %}
{% endblock content %}

        
