
{% comment %}
    be sure to display this template using 
        {% load react %}
        {% reactions reactable %}
    it needs quite some context so do not just include it
{% endcomment %}

{% load display %}
{% load crispy_forms_tags %}


<div class="reactable_reactions">
    
    {% if reactable.allow_likes or reactable.allow_dislikes %}
        <div class="reactable_likes_dislikes reactables_left">
            {% if reactable.allow_likes and reactable.allow_dislikes %}
                
                {% if not user_likes and not user_dislikes %}
                    <div class="reactable_like_add">
                        {% crispy like_form %}
                    </div>
                {% endif %}
                <span class="reactable_likes_status">
                    <i class='glyphicon glyphicon-thumbs-up'></i>
                    {{ reactable.total_likes }}
                </span>
                {% if reactable.total_likes_dislikes >= 3 and reactable.show_likes_bar %}
                    <div class="progress" style="width: {{ reactable.total_likes_scale }}px;">
                        <div class="progress-bar progress-bar-success" style="width: {{ reactable.liked_percentage }}%">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ reactable.disliked_percentage }}%">
                            <span class="sr-only">10% Complete (danger)</span>
                        </div>
                    </div>
                {% endif %}
                <span class="reactable_dislikes_status">
                    <i class='glyphicon glyphicon-thumbs-down'></i>
                    {{ reactable.total_dislikes }}
                </span>
                {% if request.user.is_authenticated %}
                    {% if user_likes or user_dislikes %}
                        {% if user_likes %}
                            <div class="reactable_like_add reactable_undo">
                                {% crispy like_form %}
                            </div>
                        {% endif %}
                        {% if user_dislikes %}
                            <div class="reactable_dislike_add reactable_undo">
                                {% crispy dislike_form %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="reactable_dislike_add">
                            {% crispy dislike_form %}
                        </div>
                    {% endif %}
                {% endif %}
                
            {% elif reactable.allow_likes %}
                
                <span class="reactable_likes_status">
                    <i class='glyphicon glyphicon-thumbs-up'></i>
                    {{ reactable.total_likes }}
                </span>
                {% if request.user.is_authenticated %}
                    <div class="reactable_like_add {% if user_likes %}reactable_undo{% endif %}">
                        {% crispy like_form %}
                    </div>
                {% endif %}
                {% if reactable.show_like_names %}
                    <div class="reactable_likes_others" {% if reactable.allow_ratings %}style="max-width: 250px;"{% endif %}>
                        {% if liked_sample %}
                            {{ liked_sample }} like this
                        {% endif %}
                    </div>
                {% endif %}
                
            {% elif reactable.allow_dislikes %}
                
                <span class="reactable_dislikes_status">
                    <i class='glyphicon glyphicon-thumbs-down'></i>
                    {{ reactable.total_dislikes }}
                </span>
                {% if request.user.is_authenticated %}
                    <div class="reactable_dislike_add {% if user_dislikes %}reactable_undo{% endif %}">
                        {% crispy dislike_form %}
                    </div>
                {% endif %}
                {% if reactable.show_like_names %}
                    <div class="reactable_dislikes_others" {% if reactable.allow_ratings %}style="max-width: 250px;"{% endif %}>
                        {% if disliked_sample %}
                            {{ disliked_sample }} dislike this
                        {% endif %}
                    </div>
                {% endif %}
        
            {% endif %}
        </div>
    {% endif %}
    
    {% if reactable.allow_ratings %}
        <div class="reactable_rating {% if reactable.allow_likes or reactable.allow_dislikes %}reactables_right{% else %}reactables_left{% endif %}">
            {% if request.user.is_authenticated %}
                <div class="reactable_rating_add">
                    {% crispy rating_form %}
                </div>
            {% endif %}
            <div class="reactable_rating_current">
                <form>
                    <input type="number" class="star-rating-status" value="{{ reactable.average_rating }}" />
                </form>
            </div>
            <p class="reactable_rating_count">{{ reactable.total_ratings }} ratings</p>
            <br class="clear" />
        </div>
    {% endif %}
    <br class="clear" />
    
    {% if reactable.allow_comments %}
        <div class="reactable_comments">
            {% if reactable.comments.all %}
                {% for comment in reactable.comments.all %}
                    {% display comment %}
                {% endfor %}
            {% else %}
                <p>No comments yet; {% if request.user.is_authenticated %}be the first!{% else %}log in to leave one.{% endif %}</p>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="reactable_comment_add">
                    {% crispy comment_form %}
                </div>
            {% endif %}
        </div>                
    {% endif %}
    
</div>


