/*
	reactable style
*/
/*
	general layout
*/
.reactables_left
{
	float: left;
}

.reactables_right
{
	float: right;
}

/*
	likes / dislikes
*/
.progress
{
	display: block-inline;
	margin: 0px 0.3em 0px 0px;
	float: left;
}

.reactable_likes_dislikes > div, .reactable_likes_dislikes > span
{
	float: left;
	margin: 0 1em 0 0;
}

.reactable_likes_dislikes form
{
	display: inline;
}

.reactable_likes_dislikes
{
	margin-bottom: 1em;
}

.reactable_likes_others, .reactable_dislikes_others
{
	float: left;
}

.reactable_likes_status
{
	color: green;
	font-weight: bold;
}

.reactable_dislikes_status
{
	color: red;
	font-weight: bold;
}


/*
	comments
*/
.reactable_comment_delete_form
{
	float: right;
}

.reactable_comment_message, .reactables_comment_deleted
{
	margin-bottom: .5em;
}

.reactables_comment_deleted
{
	font-style: italic;
}

.reactable_comment_add textarea
{
	height: 4em;
}

.reactable_comment_add label
{
	display: none;
}

/*
	ratings
*/
.reactable_rating
{
	margin-top: -10px;
	height: 42px;
	width: 260px;
	overflow: hidden;
	margin-bottom: 0.5em;
}

.reactable_rating_current form, .reactable_rating_add form
{
	margin: 0px;
}

.reactable_rating_current, .reactable_rating_add, .reactable_rating_count
{
	float: left;
}

.reactable_rating_count
{
	margin: 1em 0 0 1em;
}


